.infoContainer {
  padding: 24px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  &__info {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    border-bottom: 1px solid #00000029;
    p {
font-weight: 400;
font-size: 12px;
line-height: 136%;
letter-spacing: 0%;
vertical-align: middle;
color: #523C14;
    }
    span {
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
color: #222732;
    }
  }
}