.navbarContainer {
  width: 100%;
  min-height: 600px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  background-image: url("https://res.cloudinary.com/dwcg5odh2/image/upload/v1773049722/Frame_2095585126_wbkrxy.png");
  background-size: 100% 100%;
  @media (max-width: 1200px) {
    max-height: 400px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 96px;

    @media (max-width: 1024px) {
      padding: 20px 40px;
    }

    @media (max-width: 768px) {
      padding: 16px 20px;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
    z-index: 90;
  }

  .cartDesktop {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .cartMobile {
    display: none;
    margin-top: 40px;
  
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }

  .hamburger {
    display: none;
    width: 28px;
    height: 22px;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;

    span {
      position: absolute;
      width: 100%;
      height: 3px;
      background: white;
      left: 0;
      transition: all 0.35s ease;
    }

    span:nth-child(1) {
      top: 0;
    }

    span:nth-child(2) {
      top: 9px;
    }

    span:nth-child(3) {
      bottom: 0;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }
  .active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }

  .active span:nth-child(2) {
    opacity: 0;
  }

  .active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 10px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 768px) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      background: #5a3c14;
      transition: right 0.35s ease;
      padding-top: 100px;
      z-index: 100;
    }
  }

  /* open state */

  .open {
    right: 0;
  }
}
