.footerContainer {
  width: 100%;
  background: #3a2405;
  color: #fff;
  padding: 64px 96px;
  font-family: sans-serif;
  @media (max-width: 768px) {
    padding: 64px 34px;
  }
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &__logo {
      display: flex;
      align-items: start;
      gap: 12px;
      justify-content: flex-start;
      img {
        width: 297px;
      }
    }

    &__listData {
      display: flex;
      flex-direction: column;
      gap: 96px;
      @media (max-width: 768px) {
        gap: 48px;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (max-width: 1024px) {
          gap: 16px;
        }

        &__label {
          font-size: 12px;
          letter-spacing: 2px;
          opacity: 0.6;
          display: flex;
          align-items: center;
          gap: 8px;
        }

        &__links {
          display: flex;
          gap: 60px;
          justify-content: space-between;
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 8px;
          }

          p {
            cursor: pointer;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -2%;
            color: #f5ead6;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &__info {
          line-height: 1.6;
          opacity: 0.8;
          display: flex;
          flex-direction: column;
          gap: 8px;
          p {
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0%;
            color: #f5ead6;
          }
        }
      }

      .bottom {
        display: flex;
        gap: 96px;
        @media (max-width: 1024px) {
          justify-content: space-between;
        }
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 48px;
        }
      }

      .booking {
        padding: 75px;
        background: transparent;
        color: #e1c084;
        cursor: pointer;
        transition: 0.3s;
        background-image: url("https://res.cloudinary.com/dwcg5odh2/image/upload/v1773060025/shape_axlb49.png");
        background-size: 100% 100%;
        @media (max-width: 768px) {
            max-width: 250px;
            padding: 48px 75px;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    .copyright {
      margin-top: 60px;
      text-align: right;
      font-size: 12px;
      opacity: 0.5;
    }
  }
}
